* { margin: 0; padding: 0;}
img { border: none;}
body  {
	font: normal 12px/14px Verdana, Arial, Helvetica, sans-serif;
}
a { text-decoration: none;}
a:hover { text-decoration: underline;}
.clear {
	clear:both;
    height:0;
    font-size: 1px;
    line-height: 0px;
}

#id-check-order {
	width:100%;
	font-size: 11px;
	color: #369;
	line-height: 130%;
}

#number-order-label {
	font-size: 14px;
	font-weight: bold;
	color: #F60;
}

#id-check-order .r-field {
	color: #070;
}

#id-check-order .r-field.invalid {
	color: #900;
}

#id-check-order #check-fields {
	padding: 5px;
}
#r-base-name {
	font-weight: bold;
}
.title-hidden {
	display:none;
}