body {
    background-image: url('background-small.png');
    background-repeat:repeat;
    background-color: #FFFBEB;
    
}

#sidebar{
    /* background-color: #898470*/;
    background-color: rgb(0, 81, 151);
    /* position: relative; */
    font-family: "Verdana";
    font-size: 18px;
}

.container-full {
  margin: 0 auto;
  width: 100%;
}


.horis-menu-wrapper{
   
    position: relative;
    top: -40px;
    
    margin-left: 5%;
    
}
.content-wrapper{
    margin-top: 30px;
}

div.sanat-direct *, div.display-mode * {
    font-size: 14px;
}

.online, .online a, .avia, .avia a, .insurance, .insurance a, .stour, .stour a{
    color: black;
}

.online, .online a {
    background-color: #f78a00;
}
.avia, .avia a {
    background-color: #f7af00;
}

.divain, .divain a {
    background-color: #f7d400 ;
} 

.insurance, .insurance a{
    background-color: #FFD333;
}

.stour, .stour a {
    background-color: #e6c602; 
    
}

.events_calendar, .events_calendar a {
    background-color: #b1d109 ;
}

.region {
    display: none;
}
.odd>div:last-child>a{
    float: right;
} 


.logo-text{
    color: #3498db;
    font-family: Verdana;
    font-size: 18px;
    text-align: center;
    position: relative;
    left: -27px;
    margin-bottom: 15px;
}

.logo-block {
    margin-top: 10px;
}
.logo-block img {
    
    max-height:60px; 
    width: auto;
}



.row {
    margin: 0;
}
.language-selector {
    font-family: Verdana;
    font-size: 10px;
    color: #3498db;
}

.language-selector a:hover {
    color: #00438c;
    max-width: 40px;
    height: auto;
}







/*-- Intersite navigation menu Start --*/




/*-- Intersite navigation menu Start --*/
#topHeader {
	/* position: absolute; */
    width: 100%;
    min-width: 1257px;
    background: url(../img/top-line-menu/top-right.png) top right no-repeat,
                #F8C300 url(../img/top-line-menu/line.png) repeat-x;  
}

#topHeader ul {
    width: 1240px;
    height: 30px; 
    margin: 0 auto;
}

#topHeader li {
    list-style: none;
    float: left;
    margin: 0 0 0 -38px;
    padding: 0;
}

#topHeader li:first-child {
   margin-left: 0 !important;
}
    
#topHeader div.topSection,
#topHeader div.selSection {
    height: 29px;
    padding: 0 32px 0 32px;
}

#topHeader div.topItem {
    height: 24px;
    padding: 5px 17px 0 17px;
}

#topHeader div.topSection:hover,
#topHeader div.selSection {
    background: url(../img/top-line-menu/right-part.png) top right no-repeat,    
                url(../img/top-line-menu/left-part.png) top left no-repeat;
}

#topHeader div.topSection:hover div.topItem,
#topHeader div.selSection div.topItem {
    background: url(../img/top-line-menu/center-part.png) repeat-x;
}

#topHeader div.topSection div.topItem a {
    font: 14px Arial;
    color: #000000;
    text-decoration: underline;    
}

#topHeader div.topSection:hover div.topItem a,
#topHeader div.selSection div.topItem a {
    color: #ffffff !important; 
    text-decoration: none !important;
}
/*-- /Intersite navigation menu End --*/

.horisontal-menu a {
    color: black;
   
}

.horisontal-menu li ul {
    background: #F8C300;
    
    
}
.horisontal-menu li a:hover {
    text-decoration: none;
    color: black;
    
}

.dropdown-menu>li>a, .dropdown-menu>li>a {
    color: black;
    
}

.horis-menu-top-item {
    position: relative;
    top: -40px;
    
}

/* .horis-menu-top-item>a{
    text-align: center;
}
 */


a.top-level-link {
    color: white;
    font-family: "Verdana";
    font-weight: 600;
    font-style: italic;
    text-shadow: grey 0.1em 0.1em 0.2em;
    
    width: 50%; 
}

a.top-level-link:hover {
    
    background: red; 
    display: block;
    -moz-border-radius: 8px;    /* Firefox 3.6-, removed in Firefox 13 */
    -webkit-border-radius: 8px; /* Safari 4-, Chrome 3- */
    border-radius: 8px;     /* Firefox 4+, Safari 5+, Chrome 4+, Opera 10.5+, IE9+ */

}







@media (min-width: 1500px){
    #sidebar {
        width: 12%;
    }
}













