.menu-collapser {
    position: relative;
    background-color: #898470;
    color: #FFF;
    text-shadow: 0 1px 0 rgba(0,0,0,0.5);
    width: 100%;
    height: 48px;
    line-height: 48px;
    font-size: 16px;
    padding: 0 8px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box
}
.collapse-button {
    position: absolute;
    right: 8px;
    top: 50%;
    width: 40px;
    background-color: #F8C300;
    background-image: linear-gradient(to bottom, #151515, #040404);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-radius: 4px 4px 4px 4px;
    border-style: solid;
    border-width: 1px;
    color: #FFFFFF;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset, 0 1px 0 rgba(255, 255, 255, 0.075);
    padding: 7px 10px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    cursor: pointer;
    font-size: 14px;
    text-align: center;

    transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box
}
.collapse-button:hover, .collapse-button:focus {
    background-image: none;
    background-color:  #ffcc66;
    color: #FFF;
}
.collapse-button .icon-bar {
    background-color: #F8C300;
    border-radius: 1px 1px 1px 1px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    display: block;
    height: 2px;
    width: 18px;
    margin: 2px 0;
}

ul.slimmenu {
    list-style-type: none;  
    margin: 0 /* 0 0 4% */;
    padding: 0;
    width: 100%;
}
ul.slimmenu li {
    position: relative;
    display: inline-block;
    background-color: #898470;
}
ul.slimmenu > li { margin-right: 3px;  }
ul.slimmenu > li:first-child { border-left: 0 }
ul.slimmenu > li:last-child { margin-right: 0 }
ul.slimmenu li a{
    display: block;
    padding: 6px 64px 6px 8px;
    font-family: 'Verdana';
    /* font-style: italic; */
    font-size:16px;
    font-weight: bold;
	text-align: left;
	text-shadow: 0 1px 0 rgba(255,255,255,0.2);
    transition: background-color 0.5s ease-out;
    -o-transition: background-color 0.5s ease-out;
    -moz-transition: background-color 0.5s ease-out;
    -webkit-transition: background-color 0.5s ease-out;
}
ul.slimmenu li a.top-level-link {
    
    font-family: 'Verdana';
/*     font-style: italic;
 */    font-size:18px;
    font-weight: bold;
	text-align: center;
	color: #F8C300;
        /* -webkit-text-fill-color: white;
        -webkit-text-stroke: 1px #F8C300; */
    text-shadow: 0 1px 0 rgba(255,255,255,0.2);
    
}


ul.slimmenu li a:hover {
    background-color: #FFF2C2;
    text-decoration: none;
}

ul.slimmenu li a:hover {
    border: 1px 1px 1px 0px black;
    
}

ul.slimmenu li a:hover {
    text-decoration: none;
    color: #898470;
        -webkit-text-fill-color: #898470;
        -webkit-text-stroke: 1px #f78a00;
    text-shadow: 0 1px 0 rgba(255,255,255,0.2);
}
ul.slimmenu li .sub-collapser {
    background: none repeat scroll 0 0 #F8C300;
    position: absolute;
    right: 0;
    top: 0;
    width: 48px;
    height: 100%;
    text-align: center;
    z-index: 999;
    cursor: pointer;
    transition: background-color 0.5s ease-out;
    -o-transition: background-color 0.5s ease-out;
    -moz-transition: background-color 0.5s ease-out;
    -webkit-transition: background-color 0.5s ease-out;
}
ul.slimmenu li .sub-collapser:hover{
    background-color: #FFE999;
    text-decoration: none;
}
ul.slimmenu li .sub-collapser:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
}
ul.slimmenu li .sub-collapser > i {
    color: #333;
    font-size: 18px;
    display: inline-block;
    vertical-align: middle;
}
ul.slimmenu li ul {
    margin: 0;
    list-style-type: none;
}
ul.slimmenu li ul li { background-color: #898470 }
ul.slimmenu li > ul {
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 999;
    width: 100%;
}
ul.slimmenu li > ul > li ul {
    display: none;
    position: absolute;
    left: 100%;
    top: 0;
    z-index: 999;
    width: 100%;
}

ul.slimmenu.collapsed li {
    display: block;
    width: 100%;

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box
}
ul.slimmenu.collapsed li a {
    display: block;
    border-bottom: 1px solid rgba(0, 0, 0, 0.075);

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box
}
ul.slimmenu.collapsed li .sub-collapser {
    height: 40px;
}
ul.slimmenu.collapsed li > ul {
    display: none;
    position: static;
}

ul.slimmenu:last-child{
    border: 0 0 2px 0 #AAA;
}

/* .slimmenu li ul li a.ar,a.ar:link, a.al, a.al:link {
  
  
  
  font-weight:normal;
  color: #FFF2C2;
  padding-right:28px;
} */
.slimmenu li ul li a.ar:hover, a.al:hover {
  color: #292000;
  
  padding-right:28px;
}

 