/* $Id: style.css,v 1.12 2006/01/20 09:09:18 dries Exp $ */

/*
** HTML elements
*/
th {
  text-align: left;
  padding-right: 1em;
  background-color: #005198;
  color: #EAEAEA;  
  border: 1px solid #ccc;
  /*border-bottom: 3px solid #ccc;*/
}
tr.odd {
  background-color: #FFFFCC;
}

tr.even {
  background-color: #E0E0E0;
}

table {
  border-collapse: collapse;
}

table.common  {
  border-collapse: collapse;
  border: 1px solid #ccc;
}
.common td, .common th {
  border: 1px solid #ccc;  
}

.common th {
  background-color: #005198;
  color: #EAEAEA;  
}

img {
  border: 0;
}

body {
  margin: 0;
  padding: 0;
  color: #000;
  background-color: #fff;
  font: 76% Verdana, Arial, Helvetica, sans-serif;
  background-image:url(/lang/ru/theme/images/menu/bg-common.gif);
/*     background-image:url(/lang/ru/theme/images/menu/bg_ny2007_5.gif); */
/*    background-image:url(/lang/ru/theme/images/menu/bg_ny.gif);  */
  /* background-image:url(/lang/ru/theme/images/menu/bg_ny_light.gif); */
  background-repeat:repeat-y;
  background-position: 0px 100px;
}
tr.odd td, tr.even td {
  padding: 0.3em;
}
h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0.5em;
}
h1 {
  font-size: 1.3em;
  color:#FF6600;
}
h2 {
  font-size: 1.2em;
}
h3, h4, h5, h6 {
  font-size: 1.1em;
}
p {
  margin-top: 0.5em;
  margin-bottom: 0.9em;
}
fieldset {
  border: 1px solid #ccc;
}
pre {
  background-color: #eee;
  padding: 0.75em 1.5em;
  font-size: 12px;
  border: 1px solid #ddd;
}
table {
  /* make <td> sizes relative to body size! */
  font-size: 1em;
}
.form-item label {
  font-size: 1em;
  color: #222;
}
.item-list .title {
  font-size: 1em;
  color: #222;
}
.links {
  margin-bottom: 0em;
}
.comment .links {
  margin-bottom: 0em;
}

/*
** Page layout blocks / IDs
*/
#header, #content {
  width: 100%;
}
#header {
  background-color: #69c;
}
#search .form-text, #search .form-submit {
  border: 1px solid #369;
  font-size: 1.1em;
}
#search .form-text {
  width: 8em;
  height: 1.4em;
  padding: 0 0.5em 0 0.5em;
  margin: 0 0 0.5em 0;
}
#search .form-submit {
  height: 1.5em;
}
#main {
  /* padding in px not ex because IE messes up 100% width tables otherwise */
  padding: 10px;
}
.error {
  border-color: red;
}
#footer {
  background-color: #eee;
  padding: 1em;
  font-size: 0.8em;
}

/*
** Common declarations for child classes of node, comment, block, box, etc.
** If you want any of them styled differently for a specific parent, add
** additional rules /with only the differing properties!/ to .parent .class.
** See .comment .title for an example.
*/
.main-content {
    min-width: 1024px;
}
.title, .title a {
  margin: 0 auto 0 auto;  /* decrease default margins for h<x>.title */
}
.submitted {
  color: #999;
  font-size: 0.8em;
}
.links {
  color: #999;
}
.links a {
  font-weight: bold;
}
.block, .box {
  padding: 0 0 1.5em 0;
}
.block {
  /*border-bottom: 1px solid #bbb;*/
  padding-bottom: 0.5em;
  margin-bottom: 1.5em;
}
.block .title {
  margin-bottom: .25em;
}
.box .title {
  font-size: 1.1em;
}
.node {
  margin: .5em 10px 2em 0;
}
/*.node .content, .comment .content {
  margin: .5em 0 .5em 0;
}*/
div.node div.content {
  margin-right:20px;
}
.node .taxonomy {
  color: #999;
  font-size: 0.8em;
  padding: 1.5em;
}
.node .picture {
  border: 1px solid #ddd;
  margin: 0.5em;
}


/*
** Module specific styles
*/
.calendar a {
  text-decoration: none;
}
.calendar td, .calendar th {
  padding: 0.4em 0;
  border-color: #888;
}
.calendar .day-today {
  background-color: #69c;
}
.calendar .day-today a {
  color: #fff;
}
.calendar .day-selected {
  background-color: #369;
  color: #fff;
}
.calendar .header-week {
  background-color: #ccc;
}
.calendar .day-blank {
  background-color: #ccc;
}
.calendar .row-week td a:hover {
  background-color: #fff; color: #000;
}

/*
**--------- My Properties-----------
*/


/*.sanat-direct tr:hover {
	background-color: #FAFAD2;
}*/

div.main_img {
	width:300px; 
	float:left;
	margin-left:0px;
}
.main_img img {
  border: 1px solid #ccc;
}
h2.title {
    color:#FF6600;
	/*color:#CC0000;*/
	font-size:22pt;
}

h1.title {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-weight: bold;
    color:#FF6600;
	/*color:#CC0000;*/
	font-size:22pt;
}

.sanat-part, h2 {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 12pt;
	font-weight: bold;
	/*color: Red;*/
    color:#FF6600;
	margin-top: 0.8em;
}
div.list_img {
	margin-left:0px;
}

div.list_img img {
	border: solid 1px #CCC;
}

div.link_img a {
	font-size: 7pt;
    font-weight:bold;
}

span.link_img {
	font-size: 8pt;
    font-weight:bold;
	border:none;
	text-decoration:none;
	padding:3px;
}


div.node {
  margin-left: 10px;
}
div.link_img {
	margin-bottom: 0.8em;
}

span.slink {
padding:2px;
margin-top:15px;
font-size:11pt;
font-weight:bold;
}

span.slink.here {
font-weight:bold;
color:#f60;
}

div#subtitle_link {
  /* margin-top: -1.5em; */
  margin-top: 5px;
  margin-bottom: 0.3em;
  /*clear: left;*/
  z-index: 50;
  /* text-align: right; */
  text-align: left;
}


tr.tablehead td {
  background-color: #005198;
  color: #EAEAEA;  
padding:3px;
font-weight:bold;
border: solid 1px #ccc;
text-align:center;
}



tr.row0, td.column0 {
  background-color: #FFFFCC;
/* border: 1px solid #CC9966; */
}
tr.row1, td.column1 {
  background-color: #E0E0E0;
/* border: solid 1px #CC9966; */
}
table.nomera td {
	text-align:center;
}

table.nomera tr.row0 td {
	color:#555;
	text-align:center;
}

table.nomera tr.row1 td {
	color:#555;
	text-align:center;
}

td.date {
/* background-color: #FFE7CE; */
color:#339999;
border: solid 1px #ccc;
text-align:center;
}
td.price {
color:#555;
/* font-weight:bold; */
border: solid 1px #ccc;
text-align:center;
padding:2px;
}

tr.tablehead td.greybg {
background-color:#eee;
color:#000000;
text-align: right;
}

table.price * {
font-size:8pt;
}

table.price td {
border-top: solid 1px #ccc;
}


div.sanat-desc {
	/*width:400px;
	display: inline-table;
	margin-top:0px;
	padding-top:0px;
*/
  padding-right:10px;
}
.managers table {
  width: 100%;
}
h2.laspi_news {
	font-size: 1.3em;
    color: rgb(255,101,0);
	margin-top:0px;
}
.laspi_news h2 {
	font-size: 1.3em;
    color: rgb(255,101,0);
	margin-top:2px;
}

div.submitted {
    color: rgb(255,101,0);
	font-weight:bold;
	font-size: 1em;
	margin-bottom:0px;
	padding-bottom:0px;
}

div.submitted + div.content {
  margin-top:0px;
  padding-top:0px;
}
div.submitted + div.content > * {
  margin-top:0px;
  padding-top:0px;
}

h2.laspi_offer {
	font-size: 1.45em;
	margin-top:0px;
	color: rgb(255,101,0);
}

h2.laspi_offer * {
	color: #8bb ;
}

.laspi_news-sticky {
  padding: .5em;
  margin-top:0px;
  background-color:#FFFFCC;
  border: solid 2px #F00;
}

.laspi_news-sticky * {
  margin-top:0px;
}



.laspi_news * {
  margin-top:0px;
}

/*.laspi_offer-sticky {
  padding: .5em;
  border: solid 2px #66c;
  border-bottom: solid 1px #ccc;
 
}*/ 

/*-------------------------------*/
.main-menu * {
  font-family:Arial, Helvetica, sans-serif;
  font-size:12px;
  margin:0px;
  padding-bottom:0px;
}


.main-menu .select {
  color:#f00;
}

a.al,a.al:link {
  background-image:url(/lang/ru/theme/images/menu/bul_unsel.gif);
  background-repeat:no-repeat;
  padding-left:28px;
  font-weight:normal;
  color:#000;
}
a.al:hover {
  color:#f00;
  background-image:url(/lang/ru/theme/images/menu/bul_sel.gif);
  background-repeat:no-repeat;
  padding-left:28px;
}
.bg-l {
  background-image: url(/lang/ru/theme/images/menu/bg-l.gif); 
  background-repeat:no-repeat; 
}
.bg-r {
  background-image: url(/lang/ru/theme/images/menu/bg-r.gif); 
  background-repeat:no-repeat; 
}
.bg-l2 {
  background-image: url(/lang/ru/theme/images/menu/bg-l2.gif); 
  background-repeat:no-repeat; 
}
.bg-v {
  background-image:url(/lang/ru/theme/images/menu/bg_ll.gif); 
  background-repeat: no-repeat;
  background-color:transparent;
}
.bg-vr {
  background-image:url(/lang/ru/theme/images/menu/bg_ll.gif); 
  background-repeat: no-repeat;
  background-color:transparent;
  background-position:right;
}

a.ar,a.ar:link {
  background-image:url(/lang/ru/theme/images/menu/bulr_unsel.gif);
  background-repeat:no-repeat;
  background-position:100% 0px;
  font-weight:normal;
  color:#000;
  padding-right:28px;
}
a.ar:hover {
  color:#f00;
  background-image:url(/lang/ru/theme/images/menu/bulr_sel.gif);
  background-repeat:no-repeat;
  background-position:100% 0px;
  padding-right:28px;
}

.img_table a {
  background: none;
}

a {
  /*text-decoration: none;
  font-weight: bold;*/
  background: none;
}
a:link {
  color: #159;
}
a:visited {
  color: #369;
}
a:hover {
  color: #f33;
  text-decoration: underline;
}

div.sanat-direct *, div.display-mode * {
  background: none;
  font-size:11px;
  margin-left:0px;
  margin-right:0px;
  background-color: transparent;
  color: #ddd;
}
div.sanat-direct, div.display-mode, div.our-services, div.search-by-title {
  margin-bottom: 12px;
  padding-left: 2px;
  padding-right: 2px;
}
div.sanat-direct tr.odd, div.sanat-direct tr.even, div.sanat-direct td, div.sanat-direct th,
div.display-mode tr.odd, div.display-mode tr.even, div.display-mode td, div.display-mode th {
  background: none;
  background-color: transparent;
  color: #ddd;
}
div.sanat-direct a, div.sanat-direct a:link,
div.display-mode a, div.display-mode a:link {
  color: #ddd;
  
}
div.sanat-direct a:visited,
div.display-mode a:visited {
  color: #8b8;
}
div.social-networks {
    height:41px;
    overflow: auto;
    margin: 0 4px 12px 4px;                       
}                  
div.social-networks p {
    float: left;
    display: inline;
    text-align:center;
    width:33%;
    margin: 0px;
}                   
div.social-networks img {                      
    vertical-align: top;
}

div.search-by-title {
    margin-bottom: 5px;     
 }
div.our-services div, div.search-by-title div {
    background-repeat:no-repeat; 
    border-bottom: solid 1px #ccc; 
    padding: 5px 2px 5px 26px;
    font-size:11px;
    margin-bottom: 0px;
}
.im20 {
/*  background-color: #FFE6E6;*/
  background-color: #FFFEEC;
  padding: 0px;
  border: 1px solid #ccc;
}


div.primary {
	/* border: 2px solid #F8C300;
	background-color:#FFFFDD; */
	padding-right: 0px;
}

table.primary {
	background-color:#FFFFDD;
	border: 1px solid #F8C300;
    margin-left: 10px;
    margin-top: 10px;
}

table.primary a {
  font-weight: bold;
}


img.lay0 {
  border: solid 1px #ccc;
  float: left;
  margin-right: 4px;	
}

img.lay1 {
  border: solid 1px #ccc;
  margin-right: 4px;	
}
.laspi_offer * {
  margin-bottom: 0px;
  margin-top: 0px;
  padding-bottom: 3px;
}

.laspi_offer img {
  padding: 0px;
}

.action-header {
	/*background-color:#FF0000;*/
	background-color:#FF0000;
	color:#fff;
	margin-bottom: 0px;
	text-align:center;
	font-weight:bold;
	font-family: Arial, Helvetica, sans-serif;
    font-size: 1.4em;
	/* letter-spacing: 1em; */
}
.action table {
  margin-top: 0px;
  border:  1px solid #F8C300;
}
div.laspi-query {
  border-bottom: solid 1px #ccc;
  padding-top: 2px;
  padding-left: 8px;
}
div.laspi-query * {
  font-size: 10px;
  margin: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

/*div.query-form {
  margin: 3px;
  font-size: 10px;
}
div.query-form div.form-item {
  margin-bottom:5px;
}*/

div.sanat-list {
  padding: 10px;
}
div.sanat-list tr.odd, div.sanat-list tr.even {
  border-bottom: 1px solid #ccc;  
}
div.sanat-direct tr.odd, div.sanat-direct tr.even,
div.display-mode tr.odd, div.display-mode tr.even {
  border-bottom: none;  
}
div.sanat-direct th, div.display-mode th, div.social-networks, div.our-services, div.search-by-title {
  border-top: none;
  border-left: none;
  border-right: none;
}
div.left {
  float: left;
  margin-right: 5px;
}

.fio {
	font-family: Arial, Helvetica, sans-serif;
	font-style: italic;
	color: #f60;
	margin: 0px;
	padding: 0px;
	font-size: 12pt;
	font-weight: bold;
}
.position {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-style: italic;
	margin: 0px;
	padding: 0px;
}
.desc {
	margin-left: 2em;
}


table#about {
  border-collapse: collapse;
  border: solid 1px #ccc;
}
table#about td {
  border: none;
}
table#about tr {
  border: solid 1px #ccc;
}

table#about h5 {
  margin: 0px;
  padding: 0px;
}


table.about {
  border-collapse: collapse;
  border: solid 1px #ccc;
}
table.about td {
  border: none;
}
table.about tr {
  border: solid 1px #ccc;
}

table.about img {
  border: solid 1px #ccc;
}

table.about h5 {
  margin: 0px;
  padding: 0px;
}


/*.managers table {
  border-collapse: collapse;
  border: solid 1px #ccc;
  padding-right: 20px;
}

.managers td {
  border: none;
}
*/
.sanat-desc h3 {
  font-size: 1.2em;
  color: #e5e;
}

.alloc {
  color: #330099;
  font-weight: bold;
  font-style: italic;
}
.note {
  margin:0px;
  font-style:italic;
}

.menu-header {
  margin: 0 0 5px 0;
  padding:2px;
}

.sanat-direct * {
	font-size: 8pt;
}
.sanat-direct th, .menu-header {
    border-bottom: 3px solid #ccc;
}
.sanat-direct th {
    color: #FFFFF0;    
}
.menu-header {
    color: #DDDDDD;
}	
.sanat-direct th {
	background-color: #A1A1A1;    
}
.menu-header {
    background: none;
}
.sanat-direct tr.odd {
	background-color: #F3F3F3;
}
.sanat-direct tr.even {
	background-color: #DCDCDC;
}
div.sanat-direct a, div.display-mode a  {
	color: #ccc;
	font-weight: normal;
}
div.sanat-direct a:hover, div.display-mode a:hover {
	color: #f00;
}
div.subname {
 margin-top:10px;
 margin-bottom:10px;
 /* clear: right; */
 /* line-height: 160%; */
}
.red {
  color:#f00;
  font-weight:bold;
}

form#laspi_order_form {
  margin-right: 10px;
  border: 1px solid #ccc;
}
form#laspi_order_form .form-item {
  display:inline;
}

form#laspi_order_form .error {
  border: 2px solid #f00;
}
form#laspi_order_form div.phone-field {
  display:table;
  float:left;
  font-size:10px;
  margin-right:5px;
}
span.required {
  color: #f00;
}
.smallerror {
  font-size: 8pt;
  color: #f00;
  font-weight:bold;
}
table.kongress {
  margin-top: 10px;
  margin-bottom: 10px;
}
table.kongress h2 {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top:0px;
}

.kongress div.img_element {
  float:left;
  margin:5px;
}
form#laspi_subs_form {
  margin-right: 10px;
  border: 1px solid #ccc;
}
form#laspi_subs_form .form-item {
  display:inline;
}

form#laspi_subs_form .error {
  border: 2px solid #f00;
}
form#laspi_subs_form div.phone-field {
  display:table;
  float:left;
  font-size:10px;
  margin-right:5px;
}
form.laspi_form {
  margin-right: 10px;
  border: 1px solid #ccc;
}
form.laspi_form .form-item {
  display:inline;
}

form.laspi_form .error {
  border: 2px solid #f00;
}
form.laspi_form div.phone-field {
  display:table;
  float:left;
  font-size:10px;
  margin-right:5px;
}
#laspi_form_query * {
	margin: 0px;
	padding: 0px;
    font-size: 11px;
	margin-bottom: 2px;
	
}

#autocomplete_search * {
    margin: 0px;
	padding: 0px;
    font-size: 11px;
	margin-bottom: 2px;
}

form#laspi_form_query > div {
	text-align:center;
}
form#laspi_form_query > div * {
	text-align:left;
}

#laspi_form_query .form-select {
	font-family: "Lucida Console", Arial, Tahoma, Verdana, sans-serif;
	height: 16px;
	margin-bottom: 3px;
}


div#bottom-menu * {
	font-size:8pt;
}
div#bottom-menu {
	background-color:#FFFFCC;
	border-top: 1px solid #ccc;
	text-align:center;
	border-bottom: 1px solid #ccc;
	padding-top: 2px;
	padding-bottom: 5px;
	margin-bottom:20px;
	width: 100%;
	
}
div#bottom_region {
	width: 100%;
}
/*div#bottom-menu:hover {
	background-color:#FFFFCC;
}
*/

div.im50 {
	background-color:#FFFFCC;
	border: 3px solid #f00;
	padding: 0px;
}

div.im30 {
	border-left: 4px double #00CCFF;
	padding-left: 5px;
}
	
.req_transfer {
  background-color:#FFFF99;
  padding: 10px;
}
h2.req_transfer {
  background-color: #FF0000;
  color:#FFFFFF;
  padding: 3px;
  margin-bottom: 0px;
}

div.photo-up {
	text-align:center;
	width: 100%;
}

.photo-up iframe, .photo-up img {
	margin: 0px;
	padding: 0px;
}

div.more {
	margin: 5px;
	margin-top: 2em;
	border-top: 2px dotted #ccc;
	border-bottom: 2px dotted #ccc;
	padding: 3px;
	text-align:right;
	font-size:8pt;
	background-color: #FFFFCC;
}

div#sanatmap {
  margin: 20px;
  border: 1px solid #ccc;
}

li {
  margin-left: 1em;
  padding-left: 0px;
}
/* li:before {
  display: marker;
  width: 1em;
  content: "--";
}
 */
ul {
  padding-left: 0px;
  margin-left: 0.3em;
}

ol {
  padding-left: 0px;
  margin-left: 1em;
}

table#top-hint {
  border: none; 
  /* background-color: #ffc;  */
  background-color:transparent; 
  margin-top: 10px;
  margin-bottom: 0.2em;
  /* float: right; */
  z-index: 10;
  padding:4px;
}

table#top-hint td {
  padding-top: 0px;
  padding:4px;
}


.marker {
	background-color: #FFFF66;
}

div.top-home {
	padding-left:10px;
	padding-right:10px;
}
.title-home {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20pt;
	font-style: normal;
	padding:0px;
	margin:0px;	
}
h3.title {
    color:#FF6600;
	font-size:12pt;
}
div.im20 div.submitted {
  background-color:#F8C300;
  border-bottom: 1px solid #990000;
  padding: 2px;
  color:#FFF;
}

div.im20 div.content {
  padding: 4px;
}


div.im50 div.submitted {
  background-color: #FEE3A7;
  padding: 2px;
}
div.im50 div.content {
  padding: 4px;
}

#user_login {
  margin-left: 30px;
  margin-top: 20px;
}

div.manager {
  border: solid 1px #acc;
  padding: 3px;
  margin: 2px;
}

div.manager .dbtype {
  font-size: 8pt;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight:bold;
  color: #fff;
  padding: 2px;
  background-color: #999;
}  

div.photo-left a {
	font-size: 8pt;
}
div.photo-left img {
border: 1px solid #ccc;
}

.thead{
  background-color: #005198;
  color: #EAEAEA;  
  padding:2px;
  font-weight:bold;
  text-align:center;
}

h2.best {
  color: #999; 
  font-size: 12px; 
  padding: 16px 0 0 0; 
  font-style:italic; 
  font-weight:normal;
}

.small {
  font-size: 0.8em;
}

p.small {
  margin: 2px;
  padding: 0px;
}

.ny-list a {
	padding:0px;
	margin:0px;
	line-height: 1em;
}

div#run-text {
	overflow:hidden;
	height: 15px;
	margin: 0px;
	padding: 0px;
	padding-left: 1em;
	padding-right: 1em;
	text-align:center;
}

table.top {
	border: 0px;
	border-collapse: separate;
	background-color:#FFFFCC;
}
table.top table {
	border: 0px;
	border-collapse: separate;
}

table.top td {
	border: 1px solid #ccc;
	background-color:#FFFFF9;
	padding-bottom: 5px;
}
table.top h1 {
	margin: 0px;
	padding: 0px;
	font-weight: bold;
}
table.top img {
	border: 1px solid #ccc;
	margin: 3px;
}
table.top table td {
	border: 0px;
}
table.top-head td {
	border: 0px;
	background-color:#F8C300;
	color:#FFFFFF;
}
table.top-head h1 {
	color:#FFFFFF;
	margin: 0px;
	padding: 0px;
	padding-bottom: 3px;
}

div.top * {
	font-size: 8pt;
}

div.top p, div.top ul, div.top li, div.top h1, div.top h2 {
	margin-bottom: 0px;
	margin-top: 0px;
	padding: 0px;
}

div#run-text a {
  color: #cfc!important;
  text-decoration: underline!important;
}

div#run-text a:hover {
  color: #fff!important;
}

div#search-treatment {
  padding-top: 5px;
}

div#search-treatment a, div#search-treatment a:link, div#search-treatment a:visited {
  background-color: #0c0;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  padding: 1px;
  padding-left: 2px;
  padding-right: 2px;
}

/* .treatment {
  background-color: #0c0;
}
 */

div#search-treatment a:hover {
  color: #ff0;
}

.select-curr {
  padding: 10px;
  font-weight: bold;
  background-color: #FFFFCC;
  margin-top: 10px;
  margin-bottom: 5px;
}
.select-curr a:hover {
  cursor:hand!important;
}

.select-curr td{
  padding: 5px;
  background-color: #FFFFCC;
}

div.see-also {
  margin-top: 4em;
  padding: 0px;
  margin-left: 10px;
  border: 1px solid #eee;
  font-size: 0.7em;
  color: #ddd;
}

div.see-also h2 {
  margin: 0px;
  padding: 3px;
  color: #fff;
  font-size: 1em;
  background-color: #ccc;
}

div.see-also blockquote {
  margin: 0px;
  padding: 3px;
}

div.see-also a {
  color: #aaa;
}


div.unofficial {
  margin-top: 4em;
  padding: 0px;
  margin-left: 10px;
  border: 1px solid #fd5;
  font-size: 1em;
  color: #990;
}

div.unofficial h2 {
  margin: 0px;
  padding: 3px;
  background-color: #fd5;
}

div.unofficial blockquote {
  margin: 0px;
  padding: 3px;
}

div.unofficial a {
  color: #77c;
}


div.analog {
  margin-top: 1em;
  padding: 0px;
  margin-left: 10px;
  border: 1px solid #Fd6;
}

div.analog h2 {
  margin: 0px;
  padding: 3px;
}

.mesta, .mesta a {
  color: #fff ! important;
  font-weight: bold ! important;
  background-color: #d00;
}  

.mesta a:hover {
/*   color: #F8C300 ! important; */
  color: #FDDD00 ! important;
}  

.search, .search a {
  color: #fff ! important;
  font-weight: bold ! important;
  background-color: #44f;
  background-color: #3081c7;
}  

.search a:hover {
/*   color: #F8C300 ! important; */
  color: #FDDD00 ! important;
}  

.treatment, .treatment a {
  color: #fff ! important;
  font-weight: bold ! important;
  background-color: #0c0;
}  

.treatment a:hover {
  color: #ff0 ! important;
} 
.online {
    background-image:url(/img/pics/online.gif);
}

.online, .online a {
  color: #fff ! important;
  font-weight: bold ! important;
  background-color: #F8C300;
}  

.online a:hover {
  color: #F00!important;
}  

.avia {
    background-image:url(/img/pics/avia.gif);
}
.avia, .avia a {
  color: #fff ! important;
  font-weight: bold ! important;
  background-color: #D877FF;
}  

.avia a:hover {
  color: #FDDD00!important;
}  

.stour {
   background-image:url(/img/pics/search2.png);
}

.stour, .stour a {
  color: #3d107b ! important;
  font-weight: bold ! important;
  background-color: RGB(245, 159, 188);
}  

.stour a:hover {
  color: #5c5c93 !important;
}

.train {
  background-image:url(/img/pics/train.jpg);    
}

.train, .train a {
  color: #fdc689 ! important;
  font-weight: bold ! important;
  background-color: RGB(135, 129, 189);
}  

.train a:hover {
  color: #fff568 !important;
}

.insurance {
  background-image:url(/img/pics/insurance.jpg);
}

.insurance, .insurance a {
  color: #fdc689 ! important;
  font-weight: bold ! important;
  background-color: RGB(255, 127, 39);
}  

.insurance a:hover {
  color: #fff568 !important;
}

.events_calendar {
    background-color:#88ee66;
    font-size: 11px;
    color: red;
    background-image:url(/img/pics/events_calendar.png);    
}

.events_calendar a {
    color: grey !important;
    font-weight: bold !important;
}

.events_calendar a:hover {
    color: orange !important;
}

span.video {
	background-color: #bff;
	padding-top: 0px;
}

.dialog {
	background-color: #ffc;
	padding: 0px;
	border: 1px solid #ccc;
	border-right: 2px solid #aaa;
	border-bottom: 2px solid #aaa;
}

.dialog-head {
	left:0%;
	right:0%;
	text-align:right;
	border-bottom: 1px solid #ccc;
	background-color: #eee;
	padding:5px;
	padding-bottom: 3px;
}

.dialog-head a {
	color: #00f;
	text-decoration:underline;
}

.dialog-content {
	padding: 10px;
}

div.bmarks {
	padding: 5px;
	text-align:right;
}

#chat {
	background-color: #ffc;
	margin-top: 10px;
}

#chat-status-marker {
	float: right;
	background-image: url(/img/busy.gif);
	background-repeat: no-repeat;
	padding-left: 20px;
	font-weight: bold;
	color: #55b;
	margin-top: 5px;
	margin-bottom: 10px;
	visibility:hidden;
}

.marker-wait {
	float: right;
	background-image: url(/img/busy.gif);
	background-repeat: no-repeat;
	width:15px;
	height:15px;
	margin:0px;
	padding:0px;
	visibility:hidden;
}

.marker-close {
	float: right;
	width:15px;
	height:15px;
	margin:0px;
	padding:0px;
	cursor:pointer;
	text-align:center;
	color:#f00;
	font-weight:bold;
	font-size:14px;
}


#chat-answer {
	clear:both;
}


#chat-status {
	margin-top: 10px;
	margin-bottom: 20px;
	color: #f55;
}


.clink {
	text-decoration:underline;
	color: #00f;
	cursor:pointer;
}

.chat {
	border: 1px solid #ccc;
	margin-top: 5px;
	margin-bottom: 5px;
	clear:both;
}

.question {
	background-color: #ddb;
	font-weight:bold;
	padding: 3px;
}
.answer {
	color: #0b0;
	padding: 3px;
	clear:both;
}

.chat-sanat {
	color: #888;
}

p.top-bot {
	padding: 5px;
}

.top-bot a {
	color: #900;
	font-weight:bold;
}	

.ny-mesta {
	color: #900;
	padding: 3px;
}

.ny-mesta span.marker {
	color: #0a0;
}

.ny h1 {
    color:#FF6600;
	font-size:16pt;
}

div.agree {
	border: solid 1px #ccc;
	margin: 5pt;
	padding: 8pt;
	background-color: #ffc;
	font-size: 10pt;
}

table tr.row0 td p {
	margin: 0px;
	padding: 0px;
}
table tr.row1 td p {
	margin: 0px;
	padding: 0px;
}

.new-year p {
	font-size: 1.1em;
}

.new-year ul li a {
	font-size: 1.2em;
}

.new-year a {
	font-weight: bold;
}

.new-year ul {
	padding-left: 0px;
	margin-left: 0px;
	list-style-position: inside;
}

div.ny_img {
	float:left;
	width:145px;
	padding: 0px;
	padding-right: 8px;
	text-align:left;
}
div.ny_img img {
	border: 1px solid #ccc;
}

.features, .features a {
/*  color: #CC3300 ! important;*/
  color: #fff ! important;
  font-weight: bold ! important;
/*  background-color: #FC0;*/
background-color: #43B9AE;
}  

.features a:hover {
  color: #ff0 ! important;
}

div.curr-label {
  font-size: 10pt;
  color: #c33;
  text-align:right;
  background-color: #ccc;
  padding: 2pt;
  font-weight:bold;
  margin-top: 8pt;
}	

.prim {
	color: #f00;
}

div.top ul {
 list-style-position: inside; 
 margin-left: 0px;
}
div.top li {
 margin-left: 0px!important;
}

table.noactive {
	background-color: #3679AF;
	margin-top:0px;
	margin-bottom:0px;
}

table.noactive th {
	color: #CC3300;
	color:#003D6F;
	padding-bottom:0;
	margin-bottom:0;
	border: none;
}

table.noactive tr {
	color: #000;
	padding:2px;
}

table.noactive tr td a:link {
	color: #000;
}

table.noactive tr td a:hover {
	color: #fff;
}

div.hot-note {
	font-size:90%;
}

.sanat-direct table.submenu th {
	background-color: #49c;
	border:none;
	padding-bottom:2px;
}

.sanat-direct table.submenu {
	border-left:2px solid #49c;
	margin-bottom:5px;
}



.ui-tabs .ui-tabs-nav .ui-state-default a span.head-menu {
	text-decoration:underline;
	color:#159;
	background-color:#ff0;
	padding:2px;
}


.ui-tabs .ui-tabs-nav .ui-state-active a span.head-menu {
	text-decoration:none;
	color:#f00;
	background-color:transparent;
}

table.light tr.odd:hover,tr.row0:hover {
		/* background-color: #ff8; */
		background-color: #FFFF88;
}

table.light tr.even:hover,tr.row1:hover {
		/* background-color: #ee8; DFD4B5*/
		background-color: #EFDFB3;
}

table.light tr.odd td:hover, tr.row0 td:hover, tr td.column0:hover {
		/* background-color: #ff8; F6F694*/
		background-color: #FFFF55;
}

table.light tr.even td:hover,tr.row1 td:hover, tr td.column1:hover {
		/* background-color: #ee8; DFD4B5 E6D6B1*/
		background-color: #EFDF83;
}

.top-head-section {
  color: #fff;
  font-weight: bold;
  background-color: #d00;
  padding:2px;
  margin:0px;
  text-align:center
}  

div.top-block ul, div.top-block li {
	margin-bottom: 0px;
	margin-top: 0px;
	padding: 0px;
	list-style-position: inside; 
 	margin-left: 0px;
}

#ny-top {
	background:#FFF;
	padding:5px; 
	height: 120px; 
	margin-bottom: 0px; 
	right:200px; 
	background-image:url(/files/images/home/ny/2014n.gif); 
	background-repeat:no-repeat; 
	background-position: 50% 0%;
}

#ny-top h1 {
  color:#FF6600;
  text-align:right;
  text-shadow: #aaa 3px 3px 6px;
}

table#top-hint-newyear {
  border: solid 1px #ccc; 
  background-color: #ffc; 
  margin-top: 4px;
  margin-bottom: 0.2em;
  z-index: 10;
}

.newyear h2 {
	font-size: 14pt;
	font-weight:normal;
}

#top-ny-2010 {
	background-color: #FFC229;
}

.top #top-ny-2010 td {
	background: none;
}
#top-ny-2010-body {
	background-image:url(/files/images/home/ny/top_ny_2010_bg.gif); 
	background-repeat:no-repeat; 
	background-position: 50% -80px;
}


#top-ny-2010-body h1 {
	color:#fff;
	font-size: 20px;
	font-weight:bold;
	text-shadow: #a70 3px 3px 6px;
}

#top-ny-2010-body h1 a {
	color:#fff;
	text-decoration:none;
	border-bottom: solid 2px #ffc;
}

#top-ny-2010-body h1 a:hover {
	color:#d33;
	border-bottom: solid 2px #d33;
}

#top-ny-2010-body h2 {
	color:#c00;
	font-size: 24px;
	font-weight:bold;
	text-align:center;
}

#mayday-top {
	padding:5px; 
	height: 20px; 
	margin-bottom: 0px; 
}

#mayday-top h1 {
  color:#FF6600;
  text-align:right;
  text-shadow: #aaa 3px 3px 6px;
}

table#top-hint-mayday {
  border: solid 1px #ccc; 
  background-color: #ffc; 
  margin-top: 4px;
  margin-bottom: 0.2em;
  z-index: 10;
}

.mayday h2 {
	font-size: 14pt;
	font-weight:normal;
}

table#top-hint-conference {
  border: solid 1px #ccc; 
  background-color: #ffc; 
  margin-top: 4px;
  margin-bottom: 0.2em;
  z-index: 10;
}

#conference-top {
	background:#FFF;
	padding:5px; 
	height: 120px; 
	margin-bottom: 0px; 
	right:200px; 
}

#conference-top h1 {
  color:#FF6600;
  text-align:right;
  text-shadow: #aaa 3px 3px 6px;
}

.conference h2 {
	font-size: 14pt;
	font-weight:normal;
}

.laspi {
}

.laspi tr td p {
	padding:0px;
	margin:0px;
}

h2.desc-title, h1.desc-title {
	clear:both;
}

div.sanat-direct table thead tr th a, .menu-header {
	font-weight:bold;
	text-decoration:none;
}

div.sanat-direct table thead tr th a:visited {
	color:#ddd;
}

div.sanat-direct table thead tr th a:hover {
	color:#f00;
}

.error-msg {
  border: 2px solid #f00;
  padding: 10px;
  color: #f00;
  background-color: #FFD700; 
  font-weight: bold;
  margin: 20px;
  margin-left: 15%;
  margin-right: 15%;
  text-align: center;
  
}

span.star {
	color:#0d0;
}
span.week-price {
	color:#06d;
	text-decoration:underline;
	cursor:pointer;
}
div.week-price-box {
	width:80px;
	display:none;
	position:absolute;
	background-color:#FFD700;
	z-index:300;
	font-size:14px;
}

div.week-price-box td.week{
	color:#fff;
	background-color:#555;
	width:30px;
}
div.week-price-box td{
	padding:2px;
}
div.week-price-box td.price{
	font-weight:bold;
}

div.hidden-currency {
	display:none;
}

.laspi_offer {
  margin-left: 0px;
  margin-top: 0px;
}

div.laspi_offer {
  margin-left: 5px;
  margin-top: 0px;
  margin-right:5px;
}

div.laspi_news {
  margin-top:5px;
  clear:left;
  padding-left:10px;
  margin-left: 5px;
  margin-bottom: 10px;
  border-bottom:1px dashed #ddd;
  border-top:1px dashed #ddd;
}
div.laspi_news div.content {
  margin-right:0px;
}
div.laspi_news p{
  margin:0px;
  padding:0px;
  margin-bottom: 3px;
}

div.im20 {
  padding-left:0px;
  margin-right:5px;
  border: 1px solid #ccc;
}

div.im50 {
	padding-left:0px;
	margin-right:5px;
	border: 3px solid #f00;
}

div.subname span.slink {
	font-size:14px;
}
